
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: instancegroups.instancemgr.keikoproj.io
spec:
  additionalPrinterColumns:
  - JSONPath: .status.currentState
    description: current state of the instancegroup
    name: State
    type: string
  - JSONPath: .status.currentMin
    description: currently set min instancegroup size
    name: Min
    type: integer
  - JSONPath: .status.currentMax
    description: currently set max instancegroup size
    name: Max
    type: integer
  - JSONPath: .status.activeScalingGroupName
    description: instancegroup created scalinggroup name
    name: Group Name
    type: string
  - JSONPath: .spec.provisioner
    description: instance group provisioner
    name: Provisioner
    type: string
  - JSONPath: .spec.strategy.type
    description: instance group upgrade strategy
    name: Strategy
    type: string
  - JSONPath: .status.lifecycle
    description: instance group lifecycle spot/normal
    name: Lifecycle
    type: string
  - JSONPath: .metadata.creationTimestamp
    description: time passed since instancegroup creation
    name: Age
    type: date
  group: instancemgr.keikoproj.io
  names:
    kind: InstanceGroup
    listKind: InstanceGroupList
    plural: instancegroups
    shortNames:
    - ig
    singular: instancegroup
  scope: Namespaced
  subresources: {}
  validation:
    openAPIV3Schema:
      description: InstanceGroup is the Schema for the instancegroups API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: InstanceGroupSpec defines the schema of resource Spec
          properties:
            eks-cf:
              properties:
                configuration:
                  description: EKSCFConfiguration defines the context of an AWS Instance
                    Group using EKSCF
                  properties:
                    bootstrapArguments:
                      type: string
                    clusterName:
                      type: string
                    image:
                      type: string
                    instanceProfileName:
                      type: string
                    instanceType:
                      type: string
                    keyPairName:
                      type: string
                    managedPolicies:
                      items:
                        type: string
                      type: array
                    metricsCollection:
                      items:
                        type: string
                      type: array
                    roleName:
                      type: string
                    securityGroups:
                      items:
                        type: string
                      type: array
                    spotPrice:
                      type: string
                    subnets:
                      items:
                        type: string
                      type: array
                    tags:
                      items:
                        additionalProperties:
                          type: string
                        type: object
                      type: array
                    volSize:
                      format: int32
                      type: integer
                  type: object
                maxSize:
                  format: int32
                  type: integer
                minSize:
                  format: int32
                  type: integer
              type: object
            eks-fargate:
              properties:
                clusterName:
                  type: string
                fargateProfileName:
                  type: string
                podExecutionRoleArn:
                  type: string
                selectors:
                  items:
                    properties:
                      labels:
                        additionalProperties:
                          type: string
                        type: object
                      namespace:
                        type: string
                    required:
                    - labels
                    - namespace
                    type: object
                  type: array
                subnets:
                  items:
                    type: string
                  type: array
                tags:
                  items:
                    additionalProperties:
                      type: string
                    type: object
                  type: array
              required:
              - clusterName
              - fargateProfileName
              - selectors
              - subnets
              - tags
              type: object
            eks-managed:
              properties:
                configuration:
                  properties:
                    amiType:
                      type: string
                    clusterName:
                      type: string
                    instanceType:
                      type: string
                    keyPairName:
                      type: string
                    nodeLabels:
                      additionalProperties:
                        type: string
                      type: object
                    nodeRole:
                      type: string
                    releaseVersion:
                      type: string
                    securityGroups:
                      items:
                        type: string
                      type: array
                    subnets:
                      items:
                        type: string
                      type: array
                    tags:
                      items:
                        additionalProperties:
                          type: string
                        type: object
                      type: array
                    version:
                      type: string
                    volSize:
                      format: int64
                      type: integer
                  type: object
                maxSize:
                  format: int64
                  type: integer
                minSize:
                  format: int64
                  type: integer
              required:
              - configuration
              - maxSize
              - minSize
              type: object
            provisioner:
              type: string
            strategy:
              description: AwsUpgradeStrategy defines the upgrade strategy of an AWS
                Instance Group
              properties:
                crd:
                  properties:
                    concurrencyPolicy:
                      type: string
                    crdName:
                      type: string
                    spec:
                      type: string
                    statusFailureString:
                      type: string
                    statusJSONPath:
                      type: string
                    statusSuccessString:
                      type: string
                  type: object
                rollingUpdate:
                  properties:
                    maxBatchSize:
                      type: integer
                    minInstancesInService:
                      type: integer
                    minSuccessfulInstancesPercent:
                      type: integer
                    pauseTime:
                      type: string
                    suspendProcesses:
                      items:
                        type: string
                      type: array
                    waitOnResourceSignals:
                      type: boolean
                  type: object
                type:
                  type: string
              required:
              - type
              type: object
          required:
          - provisioner
          - strategy
          type: object
        status:
          description: InstanceGroupStatus defines the schema of resource Status
          properties:
            activeLaunchConfigurationName:
              type: string
            activeScalingGroupName:
              type: string
            currentMax:
              type: integer
            currentMin:
              type: integer
            currentState:
              type: string
            lifecycle:
              type: string
            nodesInstanceRoleArn:
              type: string
            stackName:
              type: string
            strategyResourceName:
              type: string
            usingSpotRecommendation:
              type: boolean
          type: object
      required:
      - metadata
      - spec
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
