name: functional-test
permissions:
  contents: read        # Needed to check out the repository
  pull-requests: write  # Needed if test results are posted as PR comments

on:
  workflow_dispatch:
  schedule:
    # run at 23:05 PM PST (cron uses UTC)
    - cron:  '5 15 * * *'

jobs:

  functional-test:
    name: functional-test
    if: github.repository_owner == 'keikoproj'
    runs-on: ubuntu-20.04

    steps:

      - name: python
        uses: actions/setup-python@v5
        with:
          python-version: 'pypy3.9'
          architecture: 'x64'

      - name: setup
        run: |
          sudo apt update
          sudo apt install python3-pip
          pip install --user awscli
          curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/linux/amd64/kubectl
          chmod +x ./kubectl
          sudo mv ./kubectl $HOME/.local/bin
          curl -sSL -o $HOME/.local/bin/jq https://github.com/stedolan/jq/releases/download/jq-1.5/jq-linux64 && chmod +x $HOME/.local/bin/jq
          export PATH=$PATH:$HOME/.local/bin
          jq --version
          kubectl
          aws --version

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4
        with:
          ref: master

      - name: test
        env:
          AWS_REGION: us-west-2
          AWS_DEFAULT_REGION: us-west-2
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          NODE_SUBNETS: ${{ secrets.NODE_SUBNETS }}
          NODE_ROLE: ${{ secrets.NODE_ROLE }}
          NODE_ROLE_ARN: ${{ secrets.NODE_ROLE_ARN }}
          KEYPAIR_NAME: ${{ secrets.KEYPAIR_NAME }}
          AMI_ID: ${{ secrets.AMI_ID }}
          SECURITY_GROUPS: ${{ secrets.SECURITY_GROUPS }}
          EKS_CLUSTER: ${{ secrets.CLUSTER_NAME }}
        run: |
          HEAD=$(git rev-parse --short HEAD)
          aws eks update-kubeconfig --name $EKS_CLUSTER
          make install
          kubectl set image -n instance-manager deployment/instance-manager instance-manager=keikoproj/instance-manager:master
          make bdd
