name: unit-test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  unit-test:
    if: github.repository_owner == 'keikoproj'
    name: unit-test
    runs-on: ubuntu-20.04
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v5
      with:
        go-version: 1.24

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4

    - name: Install golangci-lint
      uses: golangci/golangci-lint-action@v4
      with:
        version: latest
        args: --timeout=5m

    - name: Lint
      run: |
        make lint || echo "Linting errors found - these will be enforced in the future"

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: go

    - name: Build
      run: |
        make manager
        
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

    - name: Test
      run: |
        make test
        
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v4
      with:
        file: ./coverage.txt
        token: ${{ secrets.CODECOV_TOKEN }}
